<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="author" content="Rolando Garro" />
	<meta name="keywords" content="google display data nodes kitchen, gnoodles kitchen" />
	<meta name="description" content="An UI to assemble Gnoodles." />
	<meta name="robots" content="all" />	
	<title>:: Gnoodles Kitchen ::</title>
	<!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
<%= stylesheet_link_tag "002" %>
<%= stylesheet_link_tag "gkitchen" %>
<%= stylesheet_link_tag "gkitchen-theme/jquery-ui-1.8.18.custom" %>
<%= javascript_include_tag "jquery-1.7.1.min.js","jquery-ui-1.8.18.custom.min.js","jquery.pacpreloader.js","jquery.route32.js","jsrender.js","jquery.mastertray.js","gnoodleApp.js"%>

  	<%= csrf_meta_tags %>
	
	
	<%
	if !@js_files.nil? && @js_files.count > 0
		@js_files.each do |jsFile| 
	%>
	    	<%= javascript_include_tag jsFile %>
	<%
	    end
	end
	%>
	<!--><link rel="Shortcut Icon" type="image/x-icon" href="http://www.csszengarden.com/favicon.ico" /> -->	
</head>
<body id="css-zen-garden">
<div id="container">
	<div id="intro">
		<div id="pageHeader">
			<h1><span>Gnoodles Kitchen</span></h1>
			<div id="preloadImg"><img id='pacFace' src="/ajax-loader.gif" border="0"/></div>
		</div>
	</div>
	<div id="supportingText">
		<p class="noticebox"><%= params[:notice] %><%= notice %></p>		
		<%= yield %>
		<%= render :partial=>"layouts/kitchen_floor" %>
	</div>
	<div id="linkList">
		<div id="linkList2">
		<% if session[:admin_pass] %>
		<%= render :partial=>"layouts/kitchen_cabinets" %>			
		<% end %>
		</div>
	</div>
</div>
</body>
</html>